html {
    scroll-behavior: smooth;
}

.vision{
    background: #C4D9FF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    line-height: 3;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: fit-content;
}

.vision h1{
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 20px;
}

.vision button{
    display: flex;
    justify-content: left;
}

.learn{
    display: grid;
    grid-template-rows: 4;
    grid-template-columns:2;
    margin-left: 115px;
    width: 85%;
    gap: 30px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 30px;
}

.box1 {
    grid-column: span 2;
    grid-row: span 1;
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 20px;
    border-radius: 10px;
}    

.box2 {
    grid-column: span 1;
    border-radius: 10px;
    background-color: beige;
    text-align: center;
    color: black;
    padding: 30px;
}

.box2 video{
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
}

.box3{
    grid-column: span 1;
    border-radius: 10px;
    background-color: #FCC6FF;
    text-align: center;
    color: black;
    padding: 30px;
}  

.box3 video{
    border-radius: 20px;
    overflow: hidden;
}

.box4 {
    grid-column: span 1;
    border-radius: 10px;
    background-color: #FCC6FF;
    text-align: center;
    color: black;
    padding: 30px;
}  

.box4 video{
    border-radius: 20px;
    overflow: hidden;
}

.box5 {
    grid-column: span 1;
    border-radius: 10px;
    background-color: beige;
    text-align: center;
    color: black;
    padding: 30px;
}    

.box5 video{
    border-radius: 20px;
    overflow: hidden;
}

.box6 {
    grid-column: span 1;
    border-radius: 10px;
    background-color: beige;
    text-align: center;
    color: black;
    padding: 30px;
}

.box6 video{
    border-radius: 20px;
    overflow: hidden;
}

.box7 {
    grid-column: span 1;
    border-radius: 10px;
    background-color: #FCC6FF;
    text-align: center;
    color: black;
    padding: 30px;
}

.box7 video{
    border-radius: 20px;
    overflow: hidden;
}